@import '_variables';

body{
    margin: 0;
    padding: 0;
  }

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.box {
    
    width: 100%;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 2px #7e7e7e;
    font-size: 70px;
    text-align: center;

}

$i: 1;

@each $color in $colors {
  .box-#{$i} {
    background-color: $color;
    
  }
  $i: $i + 1;
}
