.C { 
	background-color: yellow; 
	border: 5px solid red; 
	width: 350px; 
	height: 30px; 
	padding-top: 30px;
} 

.A { position: relative; top: -12px; left: 30px; } 
.B { position: relative; top: -25px; left: 30px; } 

